<h3 class="ui header">{{t 'forms.tenis-app-bpa-player-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="ui two column stackable grid">
    <div class="eight wide column">
      <div class="field">
        {{
          flexberry-field
          placeholder=(t 'components.flexberry-field.placeholder')
          readonly=readonly
          required=true
          value=model.lastName
          class=(if model.errors.lastName 'error' '')
          label=(t 'forms.tenis-app-bpa-player-e.lastName-caption')
        }}
        {{flexberry-validationmessage error=model.errors.lastName pointing="pointing"}}
      </div>
    </div>
    <div class="eight wide column">
      <div class="field">
        {{
          flexberry-field
          placeholder=(t 'components.flexberry-field.placeholder')
          readonly=readonly
          required=true
          value=model.firstName
          class=(if model.errors.firstName 'error' '')
          label=(t 'forms.tenis-app-bpa-player-e.firstName-caption')
        }}
        {{flexberry-validationmessage error=model.errors.firstName pointing="pointing"}}
      </div>
    </div>
    <div class="four wide column">
      <div class="field">
        {{
          flexberry-field
          placeholder=(t 'components.flexberry-field.placeholder')
          readonly=readonly
          required=true
          value=model.rating
          class=(if model.errors.rating 'error' '')
          label=(t 'forms.tenis-app-bpa-player-e.rating-caption')
        }}
        {{flexberry-validationmessage error=model.errors.rating pointing="pointing"}}
      </div>
    </div>
  </div>
</form>
